/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #777777;
  /*margin: 40px 0px 70px;*/
  text-align: center;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.gwt-TextBox, .gwt-DateBox {
	height: 12px;
    padding: 5px 4px;
    border-right: 1px solid rgb(204, 204, 204);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153) rgb(204, 204, 204) rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    font-size: small;
    font-family: Arial Unicode MS,Arial,sans-serif;
}

 .helpLabel {
 	text-decoration: underline;
 	color: #006699; 
 	cursor: hand;
 }
 
.gwt-Label {
	font-size: 16px;
	font-weight: none;
	letter-spacing:0.2px;
    font-family: Arial Unicode MS,Arial,sans-serifl;
    padding-right: 5px;
}

.dialogVPanel {
  margin: 5px;
}

/* Formatting specific to the AReS application */

body {
  padding: 10px;
}

/* flight list header row */
.flightListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

/* flights flex table */
.flightList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  div-align: center;
}

.availLabel {
	padding-top: 15px;	
}

.findButton {
	padding: 10px;
}

.searchHeader {
	padding-top: 10px;
}

.searchLabel {
	padding-left: 4px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
